/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float:left;
  padding:33px 20px;
  font-size:18px;
 
}

/* Write your code below */
.first{
  background-color: #26d0c9 ;
  height:90px;
}
.head{
  color:#fff;
  font-size:36px;
  float:left; 
  padding:20px 40px;
}
.side{
  color:#fff;
  float:left;
}
.middle h1{
  font-size:140px;
  padding:100px 80px 10px 80px;
}
.middle h2{
  font-size:60px;
   padding-left:80px;
}
span{
  color:#ff4a4a;
}
.middle2 h3{
  font-size:28px;
  padding-top:100px;
  padding-left:80px;
}
.border{
    border-bottom:2px solid  #dee7ec;
    margin:15px 80px 50px 80px;
}
.images{
  margin-left:80px;
}
.c1{
  margin-right:40px;
  float:left;
}
.c2{
  margin-right:40px;
  float:left;
 
}
.c3{
  margin-right:40px;
  float:left;
}
.images p{
  font-size:24px;
  padding-top:30px;
  padding-bottom:130px;
}
.bottom{
  padding-left:80px;
  padding-bottom:100px;
}
.bottom h3{
  padding-top:1px;
  padding-bottom:15px;
  font-size:28px;
  border-bottom: 1px solid #dee7ec;
}
.yelp{
  padding-top:50px;
}
input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
.submit{
  background-color:#dee7ec;
 color:#889eab;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}
.footer-logo{
  font-size:32px;
}
.footer-list{
  float:right;
}
.hey1{
 padding-bottom:20px;
}
.hey2{
  padding-bottom:20px;
}